                    {{#if error}}

                    <div class="span4 checkout-error">
                         <p class="lead">Oops! We ran into an error while checking out</p>
                         {{#if error_message}}
                         <div class="alert alert-error">
                             {{error_message}}
                         </div>
                         {{/if}}
                         {{#if back_button}}
                         <p>Click here to go back and edit your order details.</p>
                         <button class="btn btn-large btn-warning steembtn btn-checkout-back"><i class="icon-chevron-left"></i> Back to Order</button>
                         {{/if}}
                         {{#if retry_button}}
                         <p>Click here to try processing your order again.</p>
                         <button class="btn btn-large btn-warning steembtn btn-checkout-retry">Retry Checkout <i class="icon-repeat"></i></button>
                         {{/if}}
                         <br />
                         <br />
                         <br />
                         <br />
                         <p>
                              <strong>Having trouble checking out?</strong>
                              <br />Send us en email at <a href="mailto:steempb@steempb.com">steempb@steempb.com</a> with the following error details:
                              <pre><code>{{error_json}}</code></pre>
                         </p>
                    </div>

                    {{else}}
                    
                    <div class="span4 checkout-activity">
                         {{bigSpinner}}
                         <h3>Checking Out</h3>
                         <p class="checkoutlols">
                             reticulating splines...
                         </p>
                    </div>

                    {{/if}}