<div class="front" id="store">
    <div class="row">
        <h1>Hello? Yes, this is store</h1>
        <p>Progress bar and doge switcher will be up here</p>
    </div>
    <div class="row">
        <div class="span4">
            <div class="storeContainer">
                <div class="split pull-left">
                    <img src="{{retina '/assets/img/template/checkout_jars.png'}}" width="207" height="268" />
                </div>
                <div class="split pull-right">
                    <p class="description">Delicious peanut butter. Put it in your face and do stuff! It tastes good and I'm writing words.</p>
                    <p class="lead"><strong>$4.99</strong> <br /> Per 8oz Jar</p>
                    <p>$6.75 US Shipping</p>
                </div>
            </div>
            <div class="storeContainer">
                <form class="form-horizontal" method="POST" id="storeStage1">
                    <div class="split pull-left">
                        <div class="control-group single-control">
                            <label class="control-label" for="inputQuantity">Quantity:</label>
                            <div class="controls">
                                <input class="input-small" type="text" id="inputQuantity" required />
                            </div>
                        </div>
                    </div>
                    <div class="split pull-right">
                        <button class="btn btn-large btn-warning steembtn">Buy Me</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="span4 special">
            <div class="storeContainer">
                <div class="split pull-left">
                    <img src="{{retina '/assets/img/template/checkout_valuemeal.png'}}" width="207" height="268" />
                </div>
                <div class="split pull-right">
                    <p class="description">A limited edition STEEM T-Shirt so you can do stuff and advertise us for free all at once!</p>
                    <p class="lead"><strong>$19.99</strong> <br /> 2 8oz Jars + Shirt</p>
                    <p>Free US Shipping</p>
                </div>
            </div>
            <div class="storeContainer">
                <form class="form-horizontal" method="POST" id="storeStage1_special">
                    <div class="split pull-left">
                        <div class="control-group double-control">
                            <div class="control-split">
                                <label class="control-label" for="inputQuantity">Color:</label>
                                <div class="controls">
                                    <select>
                                        <option>Aubergine</option>
                                        <option>Navy</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-split">
                                <label class="control-label" for="inputQuantity">Size:</label>
                                <div class="controls">
                                    <select>
                                        <option>Small</option>
                                        <option>Medium</option>
                                        <option>Large</option>
                                        <option>X-Large</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="split pull-right">
                        <button class="btn btn-large btn-warning steembtn">Buy Me</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>